*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(83, 86, 87);
    display:flex ;
    justify-content: center;
    /* align-items: center; */

}
.cards{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    font-size: 30px;
    display:flex ;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 5px rgb(0,0,0,0 0.5);
    margin: 10px;

}
.scrollbar{
    background-color: green;
    /* width: 100%; */
    position: fixed;
    height: 8px;
    border-radius: 12px;
    left: 0;
    top: 0;
}
